
.center-image{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.left-image{
    margin-left: auto;
   
}

.right-image{
    margin-right:auto;
   
}

.center-gogle{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

#contenido {
text-align: center
}